.footer{
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(19,19,19,0.8);
}
.footer-container{
  margin:auto; 
  max-width: 1140px;
  align-items: center;
}
.social-icon{
  margin-top: 1rem ;
  align-items: center;
  position: relative;
  top: 50%;
  margin-left: 45%;
  
  
}
.content{
  position: relative;
  text-align: center;
  left: 1.5%;
  margin-top: 1rem;
  font-size: 1.3rem;
}